body {
  font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif;;
  background-color: #fff;
  padding-bottom: 100px;
}
@media (max-width: 1050px) {
  body {
    background-position: -200px -700px;
  }
}
@media (max-width: 600px) {
  body {
    background-position: -100px -600px;
  }
  video {
    max-width: 95%!important;
  }
}

strong {
  font-weight: 900;
}

header {
  color: #fff;
  text-align: center;
  padding-top: 50px;
  background: #353c4b;
  background: -moz-radial-gradient(center, ellipse cover, #353c4b 0%, #1b212f 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #353c4b 0%,#1b212f 100%);
  background: radial-gradient(ellipse at center, #353c4b 0%,#1b212f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#353c4b', endColorstr='#1b212f',GradientType=1 );
  background-position: -300px -800px;
  background-size: 120% 100%;
  border-bottom: 16px solid #00baf8;
}
header div {
  background: url("../img/bg_texturing.png") repeat;
}
header h1, header h2, header h3 {
  font-weight: 300;
  font-size: 48px;
}
header h2 {
  font-size: 20.5px;
  margin-top: 15px;
}
header h3 {
  font-size: 25px;
  margin-top: 100px;
  margin-bottom: 510px;
  line-height: 1.3em;
  max-width: 590px;
}
@media (max-width: 800px) {
  header h3 {
    margin-bottom: 310px;
  }
  div.show-and-tell {
    margin-top: -230px!important;
  }
}
@media (max-width: 450px) {
  header h3 {
    margin-bottom: 210px;
  }
  div.show-and-tell {
    margin-top: -130px!important;
  }
}
header h3 strong {
  font-weight: 700;
}

div.show-and-tell {
  margin: -430px auto 65px;
}
video {
  width: 786px;
  height: 510px;
  -webkit-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.4);
  box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.4);
}

div.container {
  margin-top: 50px;
}
div.narrower {
  max-width: 850px;
}
p {
  font-size: 16px;
}
#text-comparison code {
  font-weight: 700;
  font-size: 16px;
  font-style: normal;
}
@media (min-width: 770px) {
  #text-comparison div p:first-child {
    height: 100px;
  }
}
@media (max-width: 770px) {
  #text-comparison div:first-child {
    margin-bottom: 50px;
  }
}

div.row h3 {
  margin-top: 40px;
}

code {
  color: inherit;
  background: none;
  padding: 0;
}

#code-basic {
  position: relative;
}
#code-basic-addall {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-animation: pulsate 9s ease-out;
  -webkit-animation-iteration-count: infinite;
  animation: pulsate 9s ease-out;
  animation-iteration-count: infinite;
  opacity: 0.0
}
@-webkit-keyframes pulsate {
    0% {opacity: 1.0;}
    30% {opacity: 1.0;}
    35% {opacity: 0.0;}
    95% {opacity: 0.0;}
    100% {opacity: 1.0;}
}
